
.website-entity-Content {
	display: block;
	position: absolute;
	right: auto;
	bottom: 10%;
	left: -moz-calc(50% + 110px);
	left: -webkit-calc(50% + 110px);
	left: calc(50% + 110px);
	width: -moz-calc(50% - 130px);
	width: -webkit-calc(50% - 130px);
	width: calc(50% - 130px);

	/*
	 * screen - bottom - (border+margin) - (h1 + h2)
	 * max-height: calc(100% - 10% - 20px - 58px);
	 */

	min-height: 50%;
	max-height: -moz-calc(100% - 10% - 20px - 58px);
	max-height: -webkit-calc(100% - 10% - 20px - 58px);
	max-height: calc(100% - 10% - 20px - 58px);

	padding: 0px;
	border-radius: 30px;
	border: 5px solid #00b7b5;
	color: #fff;
	background: #444;
	overflow: auto;
	z-index: 9;
}



.website-entity-Content.default {
	opacity: 0;
	bottom: 100%;
	-moz-transition: all 250ms ease-in;
	-webkit-transition: all 250ms ease-in;
	transition: all 250ms ease-in;
}

/* Fix for some rendering issues in WebKit and Gecko */
.website-entity-Content.default iframe {
	display: none;
}

.website-entity-Content.active {
	opacity: 1;
	bottom: 10%;
	-moz-transition: all 250ms ease-out;
	-webkit-transition: all 250ms ease-out;
	transition: all 250ms ease-out;
}

/* Fix for some rendering issues in WebKit and Gecko */
.website-entity-Content.active iframe {
	display: block;
}


.website-entity-Content.default * {
	opacity: 0;
	-moz-transition: all 500ms ease-out;
	-webkit-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
}

.website-entity-Content.active * {
	opacity: 1;
	-moz-transition: all 500ms ease-out;
	-webkit-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
}



.website-entity-Content > * {
	margin-left: 8px;
	margin-right: 8px;
}
.website-entity-Content > *:first-child {
	margin-top: 20px;
}



.website-entity-Content p a {
	color: #00b7b5;
	padding: 0px 5px;
	border-radius: 4px;
}

.website-entity-Content p a:focus,
.website-entity-Content p a:hover {
	color: #fff;
	background: #222;
}

.website-entity-Content abbr {
	border-bottom: 1px dotted #fff;
}

.website-entity-Content iframe {
	display: block;
	width: 90%;
	margin: 0 auto;
}

.website-entity-Content .links {
	margin-top: 1em;
	padding: 5px 5px;
	background: #333;
	border: 2px solid #fff;
	border-radius: 5px;
}


/*
 * CUSTOM SCROLLBARS
 */

::-webkit-scrollbar {
    width: 16px;
}
 
::-webkit-scrollbar-track {
	background: transparent;
    border-radius: 10px;
	margin: 20px 0px 20px 0px;
}
 
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
	background: rgba(0,0,0,0.5);
	-webkit-transition: all 500ms ease-out;
    -webkit-box-shadow: inset 0px 0px 0px 4px #444; 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,0.5);
	-webkit-transition: all 500ms ease-out;
}

