
.website-entity-Menu {
	display: block;
	position: absolute;
	width: 80px;
	height: 80px;
	background: #222;
	border-radius: 100px;
	-moz-transition: all 500ms ease-out;
	-webkit-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
	z-index: 5;
}

.website-entity-Menu.inactive {
	cursor: pointer;
}

.website-entity-Menu.active {
	width: 120px;
	height: 120px;
	-moz-transition: all 500ms ease-out;
	-webkit-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
}



.website-entity-Menu header {
	display: block;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	color: #fff;
	line-height: 80px;
	opacity: 0;
	overflow: hidden;
}

.website-entity-Menu.inactive header {
	opacity: 1;
	font-size: 12px;
	-moz-transition-property: opacity, font-size, line-height;
	-moz-transition-duration: 250ms;
	-moz-transition-timing-function: ease-out;
	-webkit-transition-property: opacity, font-size, line-height;
	-webkit-transition-duration: 250ms;
	-webkit-transition-timing-function: ease-out;
	transition-property: opacity, font-size, line-height;
	transition-duration: 250ms;
	transition-timing-function: ease-out;
}

.website-entity-Menu.active header {
	opacity: 1;
	font-size: 16px;
	line-height: 120px;
	-moz-transition-property: opacity, font-size, line-height;
	-moz-transition-delay: 500ms;
	-moz-transition-duration: 750ms;
	-moz-transition-timing-function: ease-out;
	-webkit-transition-property: opacity, font-size, line-height;
	-webkit-transition-delay: 500ms;
	-webkit-transition-duration: 750ms;
	-webkit-transition-timing-function: ease-out;
	transition-property: opacity, font-size, line-height;
	transition-delay: 500ms;
	transition-duration: 750ms;
	transition-timing-function: ease-out;
}



.website-entity-Menu ul {
	display: block;
	position: absolute;
	margin: 0;
	padding: 0;
	left: -35px;
	top: -35px;
	width: 180px;
	height: 180px;
	border-radius: 180px;
	z-index: 1;
}

.website-entity-Menu ul li {
	display: block;
	position: absolute;
	margin: 0;
	padding: 0;
	width: 140px;
	list-style: none;
	border-bottom: 1px solid #00b7b5;
	cursor: pointer;
	opacity: 0;
}

.website-entity-Menu ul li:nth-child(1) { top:   0px; left: -102px; }
.website-entity-Menu ul li:nth-child(2) { top:  32px; left: -129px; }
.website-entity-Menu ul li:nth-child(3) { top:  64px; left: -139px; }
.website-entity-Menu ul li:nth-child(4) { top:  96px; left: -137px; }
.website-entity-Menu ul li:nth-child(5) { top: 128px; left: -124px; }
.website-entity-Menu ul li:nth-child(6) { top: 160px; left:  -88px; }



.website-entity-Menu.active ul li {
	opacity: 0.5;
	-moz-transition-property: opacity;
	-moz-transition-delay: 500ms;
	-moz-transition-duration: 750ms;
	-moz-transition-timing-function: ease-out;
	-webkit-transition-property: opacity;
	-webkit-transition-delay: 500ms;
	-webkit-transition-duration: 750ms;
	-webkit-transition-timing-function: ease-out;
	transition-property: opacity;
	transition-delay: 500ms;
	transition-duration: 750ms;
	transition-timing-function: ease-out;
}

.website-entity-Menu.active ul li:hover {
	opacity: 1;
	border-bottom-width: 2px;
	-moz-transition: 200ms all ease-out;
	-webkit-transition: 200ms all ease-out;
	transition: 200ms all ease-out;
}

.website-entity-Menu.active ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 16px;
}


.website-entity-Menu div._deco1 {
	display: block;
	position: absolute;
	top: -14px;
	left: -14px;
	width: 100%;
	height: 100%;
	background: transparent;
	border-radius: 100px;
	border: 14px solid #00b7b5;
}

.website-entity-Menu.active div._deco1 {
	top: -15px;
	left: -15px;
	-moz-animation: _decooneidle 15s infinite linear;
	-webkit-animation: _decooneidle 15s infinite linear;
	animation: _decooneidle 15s infinite linear;
}

.website-entity-Menu div._deco1 > div {
	display: block;
	position: absolute;
	border-bottom: 10px solid #00b7b5;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	height: 0;
	width: 30px;
	opacity: 0;
	-moz-transition: 50ms opacity ease-out;
	-webkit-transition: 50ms opacity ease-out;
	transition: 50ms opacity ease-out;
	-moz-transition-delay: 0ms;
	-webkit-transition-delay: 0ms;
	transition-delay: 0ms;
}

.website-entity-Menu.active div._deco1 > div {
	opacity: 1;
	-moz-transition: 500ms opacity ease-out;
	-webkit-transition: 500ms opacity ease-out;
	transition: 500ms opacity ease-out;
	-moz-transition-delay: 1000ms;
	-webkit-transition-delay: 1000ms;
	transition-delay: 1000ms;
}



.website-entity-Menu div._deco1 > div:nth-child(1) {
	top: -20px; left: 34px;
}

.website-entity-Menu div._deco1 > div:nth-child(2) {
	top: 18px; right: -30px;
	-moz-transform: rotate(60deg);
	-webkit-transform: rotate(60deg);
	transform: rotate(60deg);
}

.website-entity-Menu div._deco1 > div:nth-child(3) {
	bottom: 18px; right: -30px;
	-moz-transform: rotate(120deg);
	-webkit-transform: rotate(120deg);
	transform: rotate(120deg);
}

.website-entity-Menu div._deco1 > div:nth-child(4) {
	bottom: -20px; left: 34px;
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.website-entity-Menu div._deco1 > div:nth-child(5) {
	bottom: 18px; left: -30px;
	-moz-transform: rotate(-120deg);
	-webkit-transform: rotate(-120deg);
	transform: rotate(-120deg);
}

.website-entity-Menu div._deco1 > div:nth-child(6) {
	top: 18px; left: -30px;
	-moz-transform: rotate(-60deg);
	-webkit-transform: rotate(-60deg);
	transform: rotate(-60deg);
}



.website-entity-Menu div._deco2 {
	display: block;
	position: absolute;
	top: -15px;
	left: -15px;
	width: 106px;
	height: 106px;
	background: transparent;
	border-radius: 140px;
	border: 2px solid #222;
	-moz-transition: all 500ms ease-out;
	-webkit-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
}

.website-entity-Menu.active div._deco2 {
	top: -16px;
	left: -16px;
	width: 146px;
	height: 146px;
}



.website-entity-Menu div._deco3 {
	display: block;
	position: absolute;
	top: -20px;
	left: -20px;
	width: 110px;
	height: 110px;
	border-radius: 180px;
	border: 5px solid #00b7b5;
	z-index: 2;
	-moz-transition: all 500ms ease-out;
	-webkit-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
}

.website-entity-Menu.active div._deco3 {
	left: -35px;
	top: -35px;
	width: 180px;
	height: 180px;
	-moz-transition: all 500ms ease-out;
	-webkit-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
	-moz-box-shadow: 0px 0px 10px 5px #00b7b5;
	-webkit-box-shadow: 0px 0px 10px 5px #00b7b5;
	box-shadow: 0px 0px 10px 5px #00b7b5;
	-moz-animation: _decothreeidle 3s infinite linear;
	-webkit-animation: _decothreeidle 3s infinite linear;
	animation: _decothreeidle 3s infinite linear;
}


@-moz-keyframes _decooneidle {
	0% {   -moz-transform: rotate(  0deg); }
	100% { -moz-transform: rotate(360deg); }
}

@-moz-keyframes _decothreeidle {
	0% {   opacity: 1.0; }
	50% {  opacity: 0.5; }
	100% { opacity: 1.0; }
}

@-webkit-keyframes _decooneidle {
	0% {   -webkit-transform: rotate(  0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@-webkit-keyframes _decothreeidle {
	0% {   opacity: 1.0; }
	50% {  opacity: 0.5; }
	100% { opacity: 1.0; }
}


@keyframes _decooneidle {
	0% {   transform: rotate(  0deg); }
	100% { transform: rotate(360deg); }
}

@keyframes _decothreeidle {
	0% {   opacity: 1.0; }
	50% {  opacity: 0.5; }
	100% { opacity: 1.0; }
}

